body{
    background: #fdfcfc;
}

.myimage{
    width: 50%;
    
}

.myimage2{
    width: 50%;
    
}

.mytext{

white-space: nowrap;
}


.textcontainer2{
    margin-left: -330PX;
}

.textcontainer1{
    margin-left: 150PX;
}

.fheadinghr{
    margin-top: 50px;
    margin-bottom: 50px; 
    
 }