body {
    background: rgba(255, 254, 254, 255);
}

.myimage {
    width: 50%;
    border-radius: 50%;
}

.firstheading {}

#texts {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}