<div class="container-fluid">
    <div class="container">
        <hr class="fheadinghr">
        <div class="row" >
            <div class="col-6">
                <div class="textcontainer1">
                    <h1 class="mytext">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis officia quod cupiditate repellendus fugiat beatae, quo voluptas, sint architecto fuga quam sed laudantium? Quis, aut? Iusto velit eius voluptates recusandae!</p>
                </div>
            </div>  
            <div class="col-6 d-flex justify-content-center">
                <img class="myimage img-fluid rounded-circle " src="./assets/img/1.jpg" alt="">
            </div> 

        </div>
        <hr class="fheadinghr">
    </div>
    
</div>
