<!-- your html code here -->
<!--Hello, I'm the portfolio.html-->
<div class="container mt-5" id="Portfolio">
    <!-- Título principal -->
    <div class="row mb-4">
        <div class="col-12">
            <hr>
            <h1>Portfolio</h1>
            <p>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
            </p>
        </div>
    </div>

    <!-- Cards No 1 -->
    <div class="row">
        <!-- Card No 1-->
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="Project Image 1">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                </div>
            </div>
        </div>

        <!-- Card No 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="Project Image 2">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                </div>
            </div>
        </div>

        <!-- Card No 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="Project Image 3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                </div>
            </div>
        </div>
    </div>
</div>