<div class="container-fluid">
    <div class="container">
        <div class="row d-flex flex-row-reverse" >
            <div class="col-6">
                <div class="textcontainer2">
                    <h1 class="mytext">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span> </h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus alias nam id repellendus illum sunt. Incidunt, quod! Voluptate soluta explicabo et culpa, quos nostrum veritatis at nulla optio voluptas recusandae.</p>
                </div>
            </div>  
            <div class="col-6 d-flex justify-content-start">
            <img class="myimage img-fluid rounded-circle" src="./assets/img/2.jpg" alt="">
            </div> 

        </div>
      
    </div>
    
</div>